.store-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.store-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.store-logo {
  width: 120px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.store-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.store-item h3 {
  font-size: 1.5rem;
  color: #333;
}

.store-item p {
  font-size: 1rem;
  color: #555;
  margin: 8px 0;
}

.view-products-button {
  padding: 10px 20px;
  background-color: #276510;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-products-button:hover {
  background-color: #6fa852;
}
.view-comments-button {
  margin-right: 10px;
}

.store-comments {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.fa-star {
  color: gold;
  margin-right: 2px;
}


.store-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.view-comments-button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.view-comments-button:hover {
  background-color: #0056b3;
}
.comment-item {
  list-style: none;
  margin-bottom: 10px;
}

.comment {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment p {
  margin: 5px 0;
}

.comment-score {
  font-size: 0.9rem;
  color: #888;
}

